$font-xs: 14px;
$font-s: 16px;
$font-m: 20px;
$font-l: 30px;

$content-width-desktop: 1080px;

$width-mobile-view: 414px;
$width-tablet-view: 700px;

$width-large-view: 900px;
$width-small-view: 500px;

$deep-light: #D1D1D1;
$light: #DBDBDB;
