.footer {
  margin-top: auto;

  @media (min-width: $content-width-desktop) {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: #E8E8E8;
    opacity: 0.9;
    border-radius: 45px;
    width: 70%;
    max-width: 910px;
  }
}
