.header {
  @include fixed-container;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px 0;

  @media (min-width: $content-width-desktop) {
    flex-direction: row;
    align-items: center;
    padding: 26px 0 24px 0;
  }
}

.header__logo {
  display: none;

  @media (min-width: $content-width-desktop) {
    display: block;
    margin-right: 30px;
  }
}

.header__sort {
  width: 100%;
  overflow-y: scroll;
}

.header__container {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;

  @media (min-width: $content-width-desktop) {
    margin-bottom: 0;
  }
}

.header__search {
  width: 100%;
}

.header__button {
  margin-right: 10px;
  display: block;
}
