.loading__spinner {
  position: absolute;
  bottom: 0;
  height: 10px;
  background-color: #717171;
  left: 0;
  right: 0;
}

.loading__text {
  height: 100px;
  font-size: $font-l;
  color: #717171;
}
