.main {
  overflow-y: scroll;
}

.main__container {
  @include fixed-container;
  overflow: hidden;
}

.main__gallery {
  @media (min-width: $width-mobile-view) {
    margin-left: -5px;
    margin-right: -5px;
  }

  @media (min-width: $width-tablet-view) {
    margin-left: -10px;
    margin-right: -10px;
  }
}
