.search {
  position: relative;
}

.search__input {
  @include none-indentation;
  min-width: 80%;
  display: block;
  padding: 6px 0;

  border: none;
  border-radius: 6px;
  background-color: $deep-light;

  @media (min-width: $width-mobile-view) {
    width: 356px;
  }
}

.search__input::placeholder {
  font-weight: 700;
  padding-left: 38px;
}

.search__icon {
  opacity: 0.5;
  position: absolute;
  left: 16px;
  top: 7px;
}
