.sort {
  @include list-reset();
  white-space: nowrap;
}

.sort__item {
  width: 99px;
  margin-right: 10px;
  display: inline-block;

  background-color: #EBEBEB;
  border: 1px solid #CBCACA;
  border-radius: 6px;
}

.sort__item:first-child {
  margin-left: 10px;
}

.sort__link {
  display: block;
  padding: 6px 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
