.user-navigation {
  @include list-reset;
  display: flex;
  padding: 15px 0;
}

.user-navigation__item {
  margin: 0 auto;
}

.user-navigation__link {
  text-decoration: none;
  color: #222222;

  @media (min-width: $content-width-desktop) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.user-navigation__text {
  display: none;

  @media (min-width: $content-width-desktop) {
    display: block;
  }
}

.user-navigation__icon {
  display: block;
  margin-bottom: 12px;
}
